{% load static  %}
{% for x in data  %}
<div class="col-sm-12 col-md-6">
   <div class="grid-container-tile">
     <div class="tileWrapper">
       <div class="tilePictureWrapper">
        <div class="overlayPicture">
          <div class="overlayWrapper">
            <div class="overlayText">
              <a class="whiteLink" href="{% url 'apartmentDetail' pk=x.id %}">VIEW MORE</a>
            </div>
          </div>
        </div>
         <div class="tilePictureContent" style="background-image: url({{ x.pic.url  }})">
          
        </div>
       </div>
       <div class="tileContentWrapper" onclick="javascript:changeCenter(location{{ x.id  }});">
         <div class="propertyTypeWrapper">
           <div class="propertyTypeContent">
             <div class="propertyTypeIcon">
               <i class="fas fa-window-maximize"></i>
             </div>
             <div class="propertyTypeText">
               {{ x.place_type }}
             </div>
           </div>
         </div>
         <div id='{{ x.id  }}'  class="propertyLocationWrapper">
           <div class="propertyLocationText">
            {{ x.street }} {{ x.city }}  
           </div>
         </div>
         <div class="propertyInfoWrapper">
           <div class="bedsWrapper">
             <div class="bedIcon">
               <i class="fas fa-bed"></i>
             </div>
             <div class="bedNumber">
                  {% if x.beds == "1"  %}
                    {{ x.beds  }} Bed
                  {% elif x.beds != "1" %}
                    {{ x.beds  }} Beds
                  {% endif  %}
             </div>
           </div>
           <div class="bathsWrapper">
             <div class="bathIcon">
               <i class="fas fa-bath"></i>
             </div>
             <div class="bathNumber">
               {{ x.baths  }} Baths
             </div>
           </div>
           <div class="areaWrapper">
             <div class="areaIcon">
               <i class="fas fa-layer-group"></i>
             </div>
             <div class="areaNumber">
               {{ x.size  }}sqft
             </div>
           </div>
         </div>
         <div class="propertyPriceWrapper">
           <div class="priceTextWrapper">
             Per Month
           </div>
           <div class="propertyContentWrapper">
             {{ x.price  }}.00$
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
{% endfor  %}