{% extends 'base.html' %}
{% load static  %}
{% block content %}
<div class="grid-container-broker">
  <div class="leftCol">
    <div class="leftColPosition">
    <div class="container">
      <div class="row">
        <div class="col-12">
         {% include 'forms.html'  %}
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="mainCol">
    <div class="formMobile" style="display: none; ">
      {% include 'forms.html'  %}
    </div>
    <div class="propertyCount">
      {{ data.count }} Properties found
    </div>
    <div class="container-fluid ">
      <div class="row">
        {% if data.count == 0 %}
        <div class="errorBox">
          <div class="errorTextTitle">
            404 No properties found
          </div>
          <div class="errorTextText">
            Unfortunately there is no available apartments that match your criteria.<br /><a href="{% url 'apartments'  %}">Reset your filter</a> 
          </div>
        </div>
        {% else %}
        {% include 'apartmentList.html'  %}
        {% endif %}
      </div>
    </div>
  </div>
  <div class="rightCol">
    <div id="map" class="mapStyle"></div>
  </div>
  <div class="topCol">
    <div class="topLeftCol">
      <div class="MKPWrapper">
        <div class="MKPLogo">
          MKP Group
        </div>
        <div class="MKPSlogan">
          <div class="weightTopCol">
            &nbsp; Buy &nbsp;
          </div>
          <div class="weightTopCol">
            &nbsp;Rent&nbsp;
          </div>
          <div class="weightTopColBold">
            &nbsp;Sell&nbsp;
          </div>
        </div>
        <div class="searchMobile">
          <i class="fas fa-search expander"></i>
        </div>
      </div>
    </div>
    <div class="mainTopCol">
      <div class="mainTopInsideCol">
        <div class="weightTopColBold">
          &nbsp; <i class="fas fa-home"></i>&nbsp;
        </div>
        <div class="weightTopColBold">
         Find 
        </div>
        <div class="weightTopCol">
          &nbsp; your property, Community 
        </div>
      </div>
      <div class="topRightCol">
      </div>
    </div>
  </div>
</div>
<script>
      var map;
      var marker;


      {% for x in data  %}
      var location{{x.id}} = {
        lat: {{ x.latitude  }},
        lng: {{ x.longitude }}
      };



      {% endfor  %}
      function initMap() {
        var myOptions = {
          zoom: 13,
          center: 
          {% for x in data  %}
          location{{x.id}},
          {% endfor  %}
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };



        map = new google.maps.Map(document.getElementById('map'), myOptions);
        marker = new google.maps.Marker({
          position:
          {% for x in data  %}
          location{{x.id}},
          {% endfor  %}
          map: map,
          title: 'Click to zoom'
        });

        
      }
      function changeCenter(center) {
          map.setCenter(center);
          marker.setPosition(center);
        }
</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
{% endblock  %}

