{% extends 'base.html' %}
{% load static  %}
{% block content %}


<div class="grid-container-broker">
  <div class="leftCol">
    <div class="container">
      <div class="row">
        <div class="col-12">
         {% include 'forms.html'  %}
            
        </div>
      </div>
    </div>

  </div>
  <div class="mainCol">
    <div class="propertyCount">
      108 Properties found
    </div>
    <div class="container-fluid ">
      <div class="row ">




      {% for x in data  %}
       <!--- <div class="col-sm-12 col-md-6">
          <div class="grid-container-tile">
            <div class="tileWrapper">
              <div class="tilePictureWrapper">
                <div class="tilePictureContent" style="background-image: url({% static 'images/home.jpg' %})">
                </div>
              </div>
              <div class="tileContentWrapper">
                <div class="propertyTypeWrapper">
                  <div class="propertyTypeContent">
                    <div class="propertyTypeIcon">
                      <i class="fas fa-window-maximize"></i>
                    </div>
                    <div class="propertyTypeText">
                      {{ x.place_type }}
                    </div>
                  </div>
                </div>
                <div class="propertyLocationWrapper">
                  <div class="propertyLocationText">
                    221 E 122nd St, New York, NY 10035, Stany Zjednoczone
                  </div>
                </div>
                <div class="propertyInfoWrapper">
                  <div class="bedsWrapper">
                    <div class="bedIcon">
                      <i class="fas fa-bed"></i>
                    </div>
                    <div class="bedNumber">
                        {{ x.beds  }} Beds
                    </div>
                  </div>
                  <div class="bathsWrapper">
                    <div class="bathIcon">
                      <i class="fas fa-bath"></i>
                    </div>
                    <div class="bathNumber">
                      {{ x.baths  }} Baths
                    </div>
                  </div>
                  <div class="areaWrapper">
                    <div class="areaIcon">
                      <i class="fas fa-layer-group"></i>
                    </div>
                    <div class="areaNumber">
                      {{ x.size  }}sqft
                    </div>
                  </div>
                </div>
                <div class="propertyPriceWrapper">
                  <div class="priceTextWrapper">
                    Per Month
                  </div>
                  <div class="propertyContentWrapper">
                    {{ x.price  }}.00$
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>-->
        {% endfor  %}

     







      </div>
    </div>
  </div>
  <div class="rightCol">
    rightCol
  </div>
  <div class="topCol">
    <div class="topLeftCol">
      <div class="MKPWrapper">
        <div class="MKPLogo">
          MKP Group
        </div>
        <div class="MKPSlogan">
          <div class="weightTopCol">
            &nbsp; Buy &nbsp;
          </div>
          <div class="weightTopCol">
            &nbsp;Rent&nbsp;
          </div>
          <div class="weightTopColBold">
            &nbsp;Sell&nbsp;
          </div>
        </div>
      </div>
    </div>
    <div class="mainTopCol">
      <div class="mainTopInsideCol">
        <div class="weightTopColBold">
          &nbsp; <i class="fas fa-home"></i>&nbsp;
        </div>
        <div class="weightTopColBold">
         Find 
        </div>
        <div class="weightTopCol">
          &nbsp; your property, Community 
        </div>
        

        
      </div>
      <div class="topRightCol">
        ddDDeef
      </div>
    </div>
  </div>
</div>
<script>
  $('.inputProperty').on('change', function() {
  $('.inputProperty').not(this).prop('checked', false);
});
</script>
{% endblock  %}


