<div class="zIndexForm">
  <form method="GET">
    <div class="propertyCount">
      Property type
    </div>
    <div class="containerButtons">
      <div class="buttonPositionProperty">
        <ul class="ks-cboxtags">
          <li><input type="checkbox" id="checkboxOne" name="place_type" value="Apartment" class="inputProperty"><label for="checkboxOne">Apartment</label></li>
        </ul>  
      </div>
      <div class="buttonPositionProperty">
        <ul class="ks-cboxtags">
          <li><input type="checkbox" id="checkboxTwo" name="place_type" value="Townhouse" class="inputProperty" ><label for="checkboxTwo">Town house</label></li>
        </ul>
      </div>
      <div class="buttonPositionProperty">
        <ul class="ks-cboxtags">
          <li><input type="checkbox" id="checkboxThree"name="place_type" value="Whole bulding" class="inputProperty"><label for="checkboxThree">Whole bulding</label></li>
        </ul>
      </div>
      <div class="buttonPositionProperty">
        <ul class="ks-cboxtags">
          <li><input type="checkbox" id="checkboxFour" name="place_type"  value="Loft" class="inputProperty"><label for="checkboxFour">Loft</label></li>
        </ul>
      </div>
    </div>
    <div class="propertyCount">
      Bedrooms
    </div>
    <div class="containerBedrooms">
      <div class="buttonPositionBedrooms">
        <ul class="ks-cboxtags">
          <li><input type="checkbox" id="checkboxOneBedrooms" name="beds" value="1" class="bedroomProperty">
            <label class="labelBedrooms" for="checkboxOneBedrooms">1</label></li>
        </ul>  
      </div>
      <div class="buttonPositionBedrooms">
        <ul class="ks-cboxtags">
          <li><input type="checkbox" id="checkboxTwoBedrooms" name="beds" value="2" class="bedroomProperty">
            <label class="labelBedrooms" for="checkboxTwoBedrooms">2</label></li>
        </ul>  
      </div>
      <div class="buttonPositionBedrooms">
        <ul class="ks-cboxtags">
          <li><input type="checkbox" id="checkboxThreeBedrooms" name="beds" value="3" class="bedroomProperty">
            <label class="labelBedrooms" for="checkboxThreeBedrooms">3</label></li>
        </ul>  
      </div>
      <div class="buttonPositionBedrooms">
        <ul class="ks-cboxtags">
          <li><input type="checkbox" id="checkboxFourBedrooms" name="beds" value="4+" class="bedroomProperty">
            <label class="labelBedrooms" for="checkboxFourBedrooms">4+</label></li>
        </ul>  
      </div>
    </div>
    <div class="propertyCount">
      Furnishing
    </div>
    <div class="containerBedrooms">
      <div class="buttonPositionFurnish">
        <ul class="ks-cboxtags">
          <li><input type="checkbox" id="checkboxOneFurnished" name="furnishType" value="furnished" class="furnishedProperty">
            <label for="checkboxOneFurnished">Furnished</label></li>
        </ul>  
      </div>
      <div class="buttonPositionFurnish">
        <ul class="ks-cboxtags">
          <li><input type="checkbox" id="checkboxTwoFurnished" name="furnishType" value="unfurnished" class="furnishedProperty">
            <label for="checkboxTwoFurnished">Unfurnished</label></li>
        </ul>  
      </div>
    </div>
    <div class="propertyCount">
      Baths
    </div>
    <div class="containerBedrooms">
      <div class="buttonPositionBedrooms">
        <ul class="ks-cboxtags">
          <li><input type="checkbox" id="checkboxOneBaths" name="baths" value="1" class="bathProperty">
            <label class="labelBedrooms" for="checkboxOneBaths">1</label></li>
        </ul>  
      </div>
      <div class="buttonPositionBedrooms">
        <ul class="ks-cboxtags">
          <li><input type="checkbox" id="checkboxTwoBaths" name="baths" value="2" class="bathProperty">
            <label class="labelBedrooms" for="checkboxTwoBaths">2</label></li>
        </ul>  
      </div>
      <div class="buttonPositionBedrooms">
        <ul class="ks-cboxtags">
          <li><input type="checkbox" id="checkboxThreeBaths" name="baths" value="3" class="bathProperty">
            <label class="labelBedrooms" for="checkboxThreeBaths">3</label></li>
        </ul>  
      </div>
      <div class="buttonPositionBedrooms">
        <ul class="ks-cboxtags">
          <li><input type="checkbox" id="checkboxFourBaths" name="baths" value="4+" class="bathProperty">
            <label class="labelBedrooms" for="checkboxFourBaths">4+</label></li>
        </ul>  
      </div>
    </div>
    <div class="propertyCount">
      Price range
    </div>
    <div class="containerPrice">
      <div class="buttonPositionPrice">
        <input type="text" class="inputPrice" id="id_price_0"   name="price_min" placeholder="Min">
      </div>
      <div class="buttonPositionPrice">
          <input type="text" class="inputPrice" id="id_price_1" name="price_max" placeholder="Max">
      </div>
    </div>
    <div class="containerPrice">
      <div class="buttonPositionSearch">
        <button class="searchButton whiteButton">
        <a href="{% url 'apartments'  %}">RESET</a>
        </button>
      </div>
      <div class="buttonPositionSearch">
      <button class="searchButton">
        APPLY
      </button>
      </div>
    </div>
  </form>
</div>

  



