<form method="GET">
    <div class="propertyCount">
      Property type
    </div>
    <div class="containerButtonsProperty">
      <div class="buttonPositionProperty">
        <ul class="ks-cboxtags">
          <li><input type="checkbox" id="checkboxOne" value="propertyType" value="Apartment" class="inputProperty"><label for="checkboxOne">Apartment</label></li>
        </ul>  
      </div>
      <div class="buttonPositionProperty">
        <ul class="ks-cboxtags">
          <li><input type="checkbox" id="checkboxTwo" value="propertyType" value="Town house" class="inputProperty" ><label for="checkboxTwo">Town house</label></li>
        </ul>
      </div>
      <div class="buttonPositionProperty">
        <ul class="ks-cboxtags">
          <li><input type="checkbox" id="checkboxThree" value="propertyType" value="Whole bulding" class="inputProperty"><label for="checkboxThree">Whole bulding</label></li>
        </ul>
      </div>
      <div class="buttonPositionProperty">
        <ul class="ks-cboxtags">
          <li><input type="checkbox" id="checkboxFour" value="propertyType"  value="Loft" class="inputProperty"><label for="checkboxFour">Loft</label></li>
        </ul>
      </div>
    </div>

    <button class="btn btn-primary" type="submit">
      search
    </button>
  </form>