  
{% extends 'base.html' %}
{% load static  %}
{% block content %}
<div class="grid-container">
    <div class="pictureContainer"  style="background-image: url({% static 'images/back.png' %})">
      <div class="rightBottomText" >
        <div class="rightBottomContainer">
            <div class="container">
              <div class="row">
                <div class="col-1">

                </div>
                <div class="col-5">
                  City
                </div>
                <div class="col-5">
                  New York
                </div>
                <div class="col-1">

                </div>
              </div>
              <div class="row">
                <div class="col-1">

                </div>
                <div class="col-5">
                  Duration
                </div>
                <div class="col-5">
                  2 years
                </div>
                <div class="col-1">

                </div>
              </div>
              <div class="row">
                <div class="col-1">

                </div>
                <div class="col-5">
                  Space
                </div>
                <div class="col-5">
                  20000m2
                </div>
                <div class="col-1">

                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="winterodinContainer">
        <div class="winterContent">
          <div class="winterCircle">2020<br /><a class='winterodinLink'href="#">winterodin</a></div>
        </div>
      </div>
    </div>


    <div class="mainTextContainer">
      <div class="textMain">
        <div class="textContent">
          Apartments <br/> <span class="textContentBlue">with diffrent</span><br /> approach 
        </div>
        <div class="lineContent">
          <div class="container">
            <div class="row">
              <div class="col-5">
                  <div class="lineTextContainer"></div>
              </div>
              <div class="col-2">
  
              </div>
              <div class="col-5">
                  <a href="#" class="linkContainer">BROWSE</a>
              </div>
            </div>
          </div>
        </div>
      </div>
     



      <div class="leftText">
        <div class="leftTextContent">
          New way to housing market with MKP real estate.
        </div>
      </div>
      <div class="rightText"></div>
    </div>
    <div class="navbarContainer"></div>
</div>


{% endblock %}
