  
{% extends 'base.html' %}
{% load static  %}
{% block content %}

<div class="grid-container-home">
    <div class="pictureContainer"  style="background-image: url({% static 'images/back.png' %})">
      <div class="rightBottomText" >
        <div class="rightBottomContainer">
            <div class="container">
              <div class="row">
                <div class="col-1">

                </div>
                <div class="col-4">
                  <div class="rightBottomContainerText">
                    City
                  </div>
                </div>
                <div class="col-6">
                  <div class="rightBottomContainerText rightBottomContainerTextBold">
                    New York
                  </div>
                </div>
                
              </div>
              <div class="row">
                <div class="col-1">

                </div>
                <div class="col-4">
                  <div class="rightBottomContainerText">
                    Duration
                  </div>
                </div>
                <div class="col-5">
                  <div class="rightBottomContainerText rightBottomContainerTextBold">
                    2 years
                  </div>
                </div>
                <div class="col-1">

                </div>
              </div>
              <div class="row">
                <div class="col-1">

                </div>
                <div class="col-4">
                  <div class="rightBottomContainerText">
                    Space
                  </div>
                </div>
                <div class="col-4">
                  <div class="rightBottomContainerText rightBottomContainerTextBold">
                    2000m2
                  </div>
                </div>
                <div class="col-3">
                  <div class="mkpGroupRightBottom">
                    MKP Group 
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="winterodinContainer">
        <div class="winterContent">
          <div class="winterCircle">2020<br /><a class='winterodinLink'href="#">winterodin</a></div>
        </div>
      </div>

      <div class="textOnMobile">
         <div class="leftTextContent">
          New way to housing market with MKP real estate.
        </div>
      </div>

    </div>


    <div class="mainTextContainer">
      <div class="textMain">
        <div class="textContent">
          Apartments <br/> <span class="textContentBlue">with diffrent</span><br /> approach 
        </div>
        <div class="lineContent">
          <div class="container">
            <div class="row">
              <div class="col-5">
                  <div class="lineTextContainer"></div>
              </div>
              <div class="col-2">
  
              </div>
              <div class="col-5">
                  <a href="{% url 'apartments'  %}" class="linkContainer">BROWSE</a>
              </div>
            </div>
          </div>
        </div>
      </div>
     



      <div class="leftText">
        <div class="leftTextContent">
          New way to housing market with MKP real estate.
        </div>
      </div>
      <div class="rightText">
        <div class="rightPictureContainer">
          <div class="rightPictureContent" style="background-image: url({% static 'images/rightPic.jpg' %})" >
          </div>
          <div class="rightPictureContentText">
            Minimalistic form of future cities.
          </div>

        </div>
      </div>
    </div>
    <div class="navContent">
      <div class="navContentContainer">
        {% include 'navbar.html'  %}
      </div>
    </div>
</div>


{% endblock %}
