.tilePictureContent{
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
.propertyTypeContent{
    width: 100%;
    padding-top: 4%;
}
.propertyTypeIcon,.propertyTypeText{
    font-size: 21px;
    color: #e4a471;
}
.propertyTypeText{
    padding-left: 3%;
    font-family: 'Montserrat';
    font-weight: 600;
    letter-spacing: -1px;
 
}

.bathIcon,.bedIcon,.areaIcon,.bedNumber,.bathNumber,.areaNumber,
.priceTextWrapper,.propertyContentWrapper,.propertyTypeText,.propertyTypeIcon{
    width: auto;
    float: left;
}
.propertyInfoWrapper{
    color: black;
    opacity: 0.3;
    font-weight: 500;
    padding-bottom: 4%;
    border-bottom: 1px solid rgb(226, 226, 226);

}

.bathIcon,.bedIcon,.areaIcon{
    font-size: 17px;
}
.bedNumber,.bathNumber,.areaNumber{
    font-size: 17px;
    padding-left: 10%;
    text-align: center;

}
.propertyContentWrapper{
    text-align: right;
}

.propertyLocationText{
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: 600;
    letter-spacing: 1px;
    color: black;
    opacity: 0.3;
    height: 7vh;
}
.tileContentWrapper:hover  .propertyLocationText{
    opacity: 1;
    transition: 0.3s;
    color: rgb(89, 112, 245);
    
}
.propertyPriceWrapper{
    padding-top:2%; 
}
.priceTextWrapper{
    padding-top: 5%;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    color: rgb(127, 143, 235);
}
.propertyContentWrapper{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 21px;
    color: rgb(0, 0, 0);
    opacity: 0.7;
}
.overlayWrapper{
    opacity:0;
    width: 92%;
    height: 52%;
    position: absolute;
    transition: .5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlayText{
    padding: 10px 13px;
    font-weight: 500;
    background-color: #e4a471;
    border: none;
    letter-spacing: 1px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    white-space: nowrap;
    color: white;
    text-align: center;
    
}
.tilePictureWrapper:hover .overlayWrapper{
    opacity: 1;
  }

  @media (max-width: 1500px) {
    .overlayWrapper{
        width: 82%;
        height: 48%;
    }
  }

@media (max-width: 1300px) {
    .bedNumber,.bathNumber,.areaNumber{
        font-size: 15px;    
    }
    .overlayWrapper{
        width: 87%;

    }
  }
@media (max-width: 1000px) {
    .tilePictureContent{
      width: 80%;
      height: 100%;
      border-radius: 0px;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
}
@media (max-width: 500px) {
    .tilePictureContent{
      width: 100%;
      height: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      background-size: cover;
      background-position: center;
  }
    .overlayWrapper{
        width: 92%;
        height: 54%;
    }
}



  