.propertyCount{
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding-left: 3%;
}
.errorBox{
    margin-top: 30vh;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}
.errorTextTitle{
    font-weight: 700;
    font-size: 22px;
}
.errorTextText{
    font-weight: 500;
    font-size: 18px;
}
.MKPWrapper{
    width: 100%;
    height: 100%;

}
.MKPLogo{
    font-weight: 700;
    color:rgb(80, 80, 80);
    font-family: 'Montserrat', sans-serif;
    width: 40%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgb(240, 240, 240);
 
}
.MKPSlogan{
    width: 60%;
    height: 100%;
    font-size: 16px;
    font-weight: 600;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgb(240, 240, 240);
}
.weightTopCol{
    font-weight: 600;
    opacity: 0.5;
    float: left;
}
.weightTopColBold{
    font-weight: 700;
    float: left;
    
}
.mainTopInsideCol{
    font-size: 18px;
    border-right: 1px solid rgb(240, 240, 240);
    display: flex;
    padding-left: 2%;
    align-items: center;
    letter-spacing: -1px;
}
.searchMobile{
    display: none;
}
.mapStyle{
    width: 98%;
    height: 98%;
    border-radius: 9px;
    margin-left: 1%;
}

@media (max-width: 1300px) {
    .MKPLogo{
        font-size: 14px;
    }
  }


@media (max-width: 1000px) {
    .MKPLogo{
        width: 30%;
    }
    .MKPSlogan{
        width: 50%;
    }
    .searchMobile{
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 100%;
    }
    .formMobile{
        display: none;
    }

}





::-webkit-scrollbar {
    display: none;
}

