
.grid-container-broker {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "topCol topCol topCol"
      "leftCol mainCol rightCol"
      "leftCol mainCol rightCol"
      "leftCol mainCol rightCol"
      "leftCol mainCol rightCol";
      width: 100vw;
      height: 100vh;
      overflow-y: hidden;
  }
.leftCol { 
    grid-area: leftCol;
    width: 100%;
    height: 100%;
  
}
.leftColPosition{
  height: 80%;
  margin-top: 10%;
}
.mainCol { 
    width: 100%;
    height: 100%;
    overflow-y: auto;
    grid-area: mainCol;
}
.rightCol { 
    grid-area: rightCol; 
    width: 100%;
    height: 100%;
    
  }
.topCol {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "topLeftCol mainTopCol mainTopCol mainTopCol mainTopCol"
      "topLeftCol mainTopCol mainTopCol mainTopCol mainTopCol";
    grid-area: topCol;
    height: 80%;
    border-bottom: 1px solid rgb(240, 240, 240);

  }
.topLeftCol { grid-area: topLeftCol; }
.mainTopCol {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "mainTopInsideCol mainTopInsideCol mainTopInsideCol topRightCol topRightCol"
      "mainTopInsideCol mainTopInsideCol mainTopInsideCol topRightCol topRightCol";
    grid-area: mainTopCol;

  }
.mainTopInsideCol { grid-area: mainTopInsideCol; }
.topRightCol { grid-area: topRightCol; }

@media (max-width: 1500px) {
  .grid-container-broker {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.7fr;
    grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "topCol topCol topCol"
      "leftCol mainCol rightCol"
      "leftCol mainCol rightCol"
      "leftCol mainCol rightCol"
      "leftCol mainCol rightCol";
      width: 100vw;
      height: 100vh;
      overflow-y: hidden;
  }
}
@media (max-width: 1300px) {
  .leftColPosition{
    margin-top:15%;
  }
  .topCol {
    height: 85%;
  }
}




@media (max-width: 1000px) {


  .grid-container-broker {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "topCol"
      "mainCol"
      "mainCol"
      "mainCol"
      "mainCol";
  }
  .topCol {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "topLeftCol topLeftCol topLeftCol topLeftCol"
      "topLeftCol topLeftCol topLeftCol topLeftCol";
    grid-area: topCol;
  }
  .topLeftCol { grid-area: topLeftCol; }
  .mainTopInsideCol { grid-area: mainTopInsideCol;display: none; }
  .mainCol { grid-area: mainCol; }

  .rightCol { 
    display: none;
  }
  .leftCol { 
    display: none;
}
  .topRightCol{
    display: none;
  }
}
