.containerButtons,.containerBedrooms{
    width: 80%;
    margin-left: 10%;
    border-bottom: 1px solid rgb(240, 240, 240);
}
.containerButtons{
  height: 13vh;
}
.containerBedrooms{
  height: 7vh;
}
.propertyCount{
  height: 5vh;
  padding-top: 1vh;
}
.buttonPositionProperty,.buttonPositionBedrooms,.buttonPositionPrice{  
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonPositionProperty{
  width: 50%;
  float: left;
  
}
.buttonPositionBedrooms{
  float: left;
  width: 23%;
}
.buttonPositionFurnish{
  float: left;
  width: 50%;
}


.containerPrice{
  width: 90%;
  margin-left: 5%;
}

.buttonPositionPrice{
  float: left;
  width: 50%; 
}


.inputPrice{
  width: 90%;
  height: 4.8vh;
  font-weight: 500;
  background-color: rgba(255, 255, 255, .9);
  border: 2px solid rgba(139, 139, 139, .3);
  color: rgb(68, 68, 68);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  white-space: nowrap;
  padding-left: 20px;
  text-align: left;
  }
  
.inputPrice:focus {
  outline: none;
  border: 2px solid rgb(55, 118, 255);
  background-color: rgb(244, 244, 255);
  color: rgb(55, 118, 255);
}

.buttonPositionSearch{
  float: left;
  width: 50%; 
  margin-top: 10%;
}
.searchButton{
  width: 90%;
  height: 4.8vh;
  font-weight: 500;
  background-color:#0072ff;
  border:none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  white-space: nowrap;
  color: white;
  text-align: center;
}
.whiteButton{
  background-color:#ffffff;
  color: rgb(68, 68, 68);
  border: 2px solid rgba(139, 139, 139, .3);
}
.whiteLink,.whiteLink:hover{
 color: white;
}


ul.ks-cboxtags {
    list-style: none;
    margin-bottom: 0 !important;
}
ul.ks-cboxtags li{
  display: inline;
}
ul.ks-cboxtags li label{
    display: inline-block;
    font-weight: 500;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: rgb(68, 68, 68);
    border-radius: 14px;
    white-space: nowrap;
    margin: 5px 0px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    text-align: center;
    padding: 8px;
    width: 7vw;
    cursor: pointer;
}
ul.ks-cboxtags li label.labelBedrooms {
  text-align: center;
  padding: 8px;
  width: 2.7vw;
  cursor: pointer;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid rgb(55, 118, 255);
    background-color: rgb(244, 244, 255);
    color: rgb(55, 118, 255);
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

@media (max-width: 1500px) {

.containerButtons,.containerBedrooms{
    width: 90%;
    margin-left: 5%;
}
  ul.ks-cboxtags li label {
    padding: 8px;
    width: 9vw;
}
ul.ks-cboxtags li label.labelBedrooms {
  width: 3.5vw;
}

@media (max-width: 1300px) {

  .containerButtons,.containerBedrooms{
      width: 90%;
      margin-left: 5%;
  }
    ul.ks-cboxtags li label {
      padding: 8px;
      width: 9vw;
  }
  ul.ks-cboxtags li label.labelBedrooms {
    width: 3.5vw;
  }
  ul.ks-cboxtags li label{
    font-size: 14px;
}
.searchButton{
  font-size: 14px;
}
}

@media (max-width: 1000px) {

  ul.ks-cboxtags li label {
    padding: 8px;
    width: 35vw;
}
ul.ks-cboxtags li label.labelBedrooms {
  padding: 8px;
  width: 15vw;
}
.containerButtons{
  padding-bottom: 16vh;
}
.containerBedrooms{
  padding-bottom: 9vh;
}

}

::-webkit-input-placeholder { 
  font-weight: 500;
  color: rgb(68, 68, 68);
}
::-moz-placeholder { 
  font-weight: 500;
  
  color: rgb(68, 68, 68);
}
:-ms-input-placeholder { 
  font-weight: 500;
  color: rgb(68, 68, 68);
  
}
:-moz-placeholder {
  font-weight: 500;
  
  color: rgb(68, 68, 68);
}