.containerButtons,.containerBedrooms{
    width: 80%;
    margin-left: 10%;
    border-bottom: 1px solid rgb(240, 240, 240);
}
.containerButtons{
  height: 13vh;
}
.containerBedrooms{
  height: 7vh;
}
.propertyCount{
  height: 5vh;
  padding-top: 1vh;
}
.buttonPositionProperty,.buttonPositionBedrooms{  
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonPositionProperty{
  width: 50%;
  float: left;
  
}
.buttonPositionBedrooms{
  float: left;
  width: 23%;
}
.buttonPositionFurnish{
  float: left;
  width: 50%;
}

ul.ks-cboxtags {
    list-style: none;
    margin-bottom: 0 !important;
}
ul.ks-cboxtags li{
  display: inline;
}
ul.ks-cboxtags li label{
    display: inline-block;
    font-weight: 500;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: rgb(68, 68, 68);
    border-radius: 14px;
    white-space: nowrap;
    margin: 5px 0px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    text-align: center;
    padding: 8px;
    width: 7vw;
    cursor: pointer;
}
ul.ks-cboxtags li label.labelBedrooms {
  text-align: center;
  padding: 8px;
  width: 2.7vw;
  cursor: pointer;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid rgb(55, 118, 255);
    background-color: rgb(244, 244, 255);
    color: rgb(55, 118, 255);
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
@media (max-width: 770px) {
  ul.ks-cboxtags li label {
    padding: 8px;
    width: 35vw;
}
ul.ks-cboxtags li label.labelBedrooms {
  padding: 8px;
  width: 15vw;
}
.containerButtons{
  padding-bottom: 16vh;
}
.containerBedrooms{
  padding-bottom: 9vh;
}

}